.resetOuterContainer {
	overflow: hidden;
}

.resetInnerContainer {
	height: 300px;
}

.resetInnerContainer-overflow {
	height: 300px;
	overflow-y: scroll;
}

input {
  vertical-align: bottom;
}

#resetForm [class*="col-"] {
	margin: 5px 0;
}

.spinner-container {
	height: 15em;
	position: relative 
}

.center {
	margin: 0;
    position: absolute;
    top: 10%;
    left: 20%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}