<div class="col-12" *ngIf="!hidePasswordForm">
  <div class="col-2">&nbsp;</div>
  <div class="col-8">
    <h4>Update Password</h4>
    <form [formGroup]="passwordForm" #formDir="ngForm" id="passwordForm" role="form" (submit)="updatePassword()">

      <div class="form-group col-12">
        <label class="col-4" for="password">Password:</label>
        <input type="password" class="form-control col-8" id="password" name="password" formControlName="password"
          required />
      </div>
      <div class="errorMessage col-12">
        <div class="col-4">&nbsp;</div>
        <div class="col-8" *ngIf="password.errors && password.touched && password.errors['required']">
          Password is required
        </div>
      </div>
      <div class="form-group col-12">
        <label class="col-4" for="newPassword">New Password:</label>
        <input type="password" class="form-control col-8" id="newPassword" name="newPassword" formControlName="newPassword"
          required />
      </div>
      <div class="errorMessage col-12">
        <div class="col-4">&nbsp;</div>
        <div class="col-8" *ngIf="newPassword.errors && newPassword.touched && newPassword.errors['required']">
          New Password is required
        </div>
        <div class="col-8" *ngIf="newPassword.errors && newPassword.errors['mustNotMatch']">
          New Password must not match with old password
        </div>
      </div>
      <div class="form-group col-12">
        <label class="col-4" for="newPasswordRetype">Retype the New Password:</label>
        <input type="password" class="form-control col-8" id="newPasswordRetype" name="newPasswordRetype"
          formControlName="newPasswordRetype" required />
      </div>
      <div class="errorMessage col-12">
        <div class="col-4">&nbsp;</div>
        <div class="col-8" *ngIf="newPasswordRetype.errors && newPasswordRetype.errors['mustMatch']">
          Passwords does not match
        </div>
        <div class="col-8" *ngIf="newPasswordRetype.errors && newPasswordRetype.touched && newPasswordRetype.errors['required']">
          Password Match is required
        </div>
      </div>

      <div class="col-12">
        <button type="submit" class="passwordSubmit"
          [disabled]="passwordForm.invalid || passwordForm.untouched">Submit</button>
      </div>
    </form>
  </div>
  <div class="col-2">&nbsp;</div>
</div>

<div class="col-12 spinner-container" *ngIf="hidePasswordForm">
  <mat-spinner class="center"></mat-spinner>
</div>